LIGOU_AWS_REGION=
LIGOU_INSTANCE_ID=
LIGOU_DEPLOY_BUCKET=
LIGOU_DEPLOY_SOURCE_ID=
LIGOU_DEPLOY_SOURCE_ROOT=
LIGOU_DEPLOY_WORK_DIR=
LIGOU_DEPLOY_RESULTS_FILE=
LIGOU_RELEASE_MANIFEST_KEY=
LIGOU_RELEASE_MANIFEST_KEY_ID=
LIGOU_BACKUP_BUCKET=
LIGOU_BACKUP_RETENTION_DAYS=
LIGOU_BACKUP_SOURCE_ID=
LIGOU_BACKUP_MANIFEST_KEY=
LIGOU_BACKUP_MANIFEST_KEY_ID=
LIGOU_BACKUP_WORK_DIR=
HERMES_IMAGE=
LIGOU_SITE_OUTPUT_DIR=
LIGOU_BASE=
TENANT_SLUG=
